Repository jm24zm18/jarvis: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, validate-agents

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.12
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: uv run mypy src
        language: system
        types: [python]
        pass_filenames: false

      - id: validate-agents
        name: validate-agents
        entry: uv run python scripts/validate_agents.py
        language: system
        files: ^agents/
        pass_filenames: false

Fix failing quality gates and stabilize orchestrator coverage
  src/jarvis/memory/state_extractor.py
  src/jarvis/orchestrator/step.py
  src/jarvis/providers/router.py
  src/jarvis/routes/api/auth.py
  src/jarvis/tasks/agent.py
  src/jarvis/tasks/onboarding.py
  tests/unit/test_google_gemini_cli_provider.py
  tests/unit/test_orchestrator_step.py
Due: mypy

more updates
  .gitignore
  agents/main/heartbeat.md
  src/jarvis/memory/service.py
  src/jarvis/orchestrator/step.py
  src/jarvis/routes/api/memory.py
  src/jarvis/tasks/memory.py
  tests/integration/test_authorization.py
  tests/unit/test_memory_service.py
  tests/unit/test_orchestrator_step.py
  web/src/components/ui/MarkdownLite.tsx
  web/src/components/ui/ThinkingPanel.tsx
  web/src/components/ui/thinkingFormat.js
  web/src/pages/admin/dashboard/index.tsx
  web/src/pages/admin/memory/index.tsx
  web/src/pages/chat/index.tsx
  web/src/types/index.ts
  web/tests/thinkingFormat.test.mjs
Due: mypy, validate-agents

more updates
  .env.example
  evo.md
  src/jarvis/config.py
  src/jarvis/db/migrations/026_failure_capsules.sql
  src/jarvis/main.py
  src/jarvis/memory/service.py
  src/jarvis/memory/state_store.py
  src/jarvis/repo_index/__init__.py
  src/jarvis/repo_index/builder.py
  src/jarvis/repo_index/types.py
  src/jarvis/routes/api/selfupdate.py
  src/jarvis/routes/api/system.py
  src/jarvis/selfupdate/contracts.py
  src/jarvis/selfupdate/pipeline.py
  src/jarvis/tasks/__init__.py
  src/jarvis/tasks/selfupdate.py
  tests/integration/test_admin_api.py
  tests/integration/test_selfupdate.py
  tests/unit/test_repo_index.py
Due: mypy

more updates
  plan3.md
  plan_memory.md
  planv2.md
Due: none

more updates
  .jarvis/repo_index.json
  .jarvis/repo_index.sha256
  AGENTS.md
  CLAUDE.md
  docs/architecture.md
  docs/change-safety.md
  src/jarvis/events/envelope.py
  src/jarvis/memory/factory.py
  src/jarvis/memory/interfaces.py
  src/jarvis/policy/engine.py
  src/jarvis/selfupdate/contracts.py
  src/jarvis/selfupdate/pipeline.py
  src/jarvis/tasks/selfupdate.py
  src/jarvis/tools/runtime.py
  tests/integration/test_selfupdate.py
  tests/unit/test_event_envelope.py
  tests/unit/test_memory_interfaces.py
  tests/unit/test_policy_engine_governance.py
  tests/unit/test_selfupdate_contracts.py
  tests/unit/test_selfupdate_pipeline.py
  tests/unit/test_tool_runtime_governance.py
Due: mypy

more updates
  AGENTS.md
  CLAUDE.md
  Makefile
  README.md
  docs/DOCS_AGENT_PROMPT.md
  docs/PLAN.md
  docs/README.md
  docs/api-reference.md
  docs/api-usage-guide.md
  docs/architecture.md
  docs/build-release.md
  docs/change-safety.md
  docs/cli-reference.md
  docs/codebase-tour.md
  docs/configuration.md
  docs/deploy-operations.md
  docs/docs-drift-matrix.md
  docs/evolution-whatsapp-memory-execution-plan.md
  docs/getting-started.md
  docs/git-workflow.md
  docs/github-pr-automation.md
  docs/local-development.md
  docs/postgres-migration.md
  docs/release-checklist.md
  docs/runbook.md
  docs/skill-manifest.md
  docs/testing.md
  docs/web-admin-guide.md
  scripts/docs_check.py
  scripts/generate_api_docs.py
  src/jarvis/cli/main.py
  src/jarvis/routes/api/channels.py
Due: mypy

more updates
  .jarvis/repo_index.json
  .jarvis/repo_index.sha256
  agents/main/heartbeat.md
  docs/PLAN.md
  docs/testing.md
  tests/integration/test_memory_api_state_surfaces.py
  tests/unit/test_memory_policy.py
Due: mypy, validate-agents

more updates
  docs/FEATURE_BUILDER_PROMPT.md
  docs/configuration.md
  sec.md
Due: none

more updates
  .jarvis/repo_index.json
  .jarvis/repo_index.sha256
  Makefile
  agents/main/heartbeat.md
  app.db-wal
  docs/PLAN.md
  docs/api-reference.md
  docs/channels/whatsapp-ui.md
  docs/channels/whatsapp.md
  docs/configuration.md
  docs/feature-roadmap-whatsapp-memory-2026-02-18.md
  docs/getting-started.md
  docs/local-development.md
  docs/reports/beta-2026-02-18-codex.md
  docs/runbook.md
  scripts/new_user_smoke.py
  scripts/web_install.py
  src/jarvis/cli/checks.py
  src/jarvis/cli/main.py
  src/jarvis/events/writer.py
  src/jarvis/routes/api/memory.py
  src/jarvis/routes/health.py
  src/jarvis/tasks/memory.py
  tests/integration/test_admin_api.py
  tests/integration/test_authorization.py
  tests/integration/test_memory_api_state_surfaces.py
  tests/integration/test_whatsapp_webhook.py
  tests/unit/test_cli_chat.py
  tests/unit/test_cli_checks.py
  tests/unit/test_event_envelope_enforcement.py
  tests/unit/test_health.py
  tests/unit/test_memory_tasks.py
  web/src/api/endpoints.ts
  web/src/pages/admin/governance/index.tsx
  web/src/pages/admin/memory/index.tsx
  web/src/types/index.ts
Due: mypy, validate-agents

more updates
  .jarvis/repo_index.json
  .jarvis/repo_index.sha256
  agents/main/heartbeat.md
  docs/PLAN.md
  src/jarvis/cli/test_gates.py
  src/jarvis/config.py
  src/jarvis/memory/service.py
  src/jarvis/memory/state_store.py
  src/jarvis/selfupdate/pipeline.py
  src/jarvis/tasks/memory.py
  src/jarvis/tasks/selfupdate.py
  tests/integration/test_selfupdate.py
  tests/unit/test_cli_test_gates_cmd.py
  tests/unit/test_hybrid_search.py
  tests/unit/test_memory_tasks.py
  tests/unit/test_selfupdate_contracts.py
  tests/unit/test_state_store.py
Due: mypy, validate-agents

more updates
  .env.example
  .jarvis/repo_index.json
  .jarvis/repo_index.sha256
  agents/coder/heartbeat.md
  agents/main/heartbeat.md
  app.db-wal
  docs/PLAN.md
  docs/configuration.md
  src/jarvis/cli/build.py
  src/jarvis/commands/service.py
  src/jarvis/config.py
  src/jarvis/orchestrator/step.py
  src/jarvis/routes/api/channels.py
  src/jarvis/tasks/agent.py
  src/jarvis/tasks/runner.py
  src/jarvis/tools/host.py
  tests/unit/test_agent_exec_host.py
  tests/unit/test_cli_build.py
  tests/unit/test_host_tool.py
  tests/unit/test_orchestrator_step.py
  tests/unit/test_task_runner.py
Due: mypy, validate-agents

more updates
  .jarvis/repo_index.json
  .jarvis/repo_index.sha256
  agents/main/heartbeat.md
  docs/PLAN.md
  docs/channels/whatsapp-ui.md
  docs/channels/whatsapp.md
  docs/cli-reference.md
  docs/configuration.md
  docs/runbook.md
  src/jarvis/cli/checks.py
  src/jarvis/cli/main.py
  src/jarvis/db/queries.py
  src/jarvis/routes/api/governance.py
  tests/integration/test_web_api.py
  tests/unit/test_cli_chat.py
  tests/unit/test_cli_checks.py
  web/src/api/endpoints.ts
  web/src/pages/admin/governance/index.tsx
  web/src/types/index.ts
  web/tests/adminObservabilityContracts.test.mjs
Due: mypy, validate-agents

feat: phases 2-5 — RBAC tests, prod config, deploy infra, Telegram channel
  .gitignore
  .jarvis/repo_index.json
  .jarvis/repo_index.sha256
  agents/main/heartbeat.md
  deploy/install-systemd.sh
  deploy/systemd/jarvis-api.service
  deploy/systemd/jarvis-scheduler.service
  deploy/systemd/jarvis-worker.service
  src/jarvis/channels/telegram/__init__.py
  src/jarvis/channels/telegram/adapter.py
  src/jarvis/channels/telegram/router.py
  src/jarvis/config.py
  src/jarvis/main.py
  tests/integration/test_authorization.py
Due: mypy, validate-agents

chore: release operations — evidence, soak monitor, backup drill
  .jarvis/repo_index.json
  .jarvis/repo_index.sha256
  deploy/soak-monitor.sh
  docs/release-evidence.md
Due: none

feat(admin): unified channels page for WhatsApp and Telegram
  src/jarvis/routes/api/channels.py
  web/src/api/endpoints.ts
  web/src/pages/admin/channels/index.tsx
Due: mypy

fix: graceful degradation for WhatsApp endpoints when Evolution API unreachable
  .jarvis/repo_index.json
  .jarvis/repo_index.sha256
  agents/main/heartbeat.md
  src/jarvis/main.py
  src/jarvis/routes/api/channels.py
Due: mypy, validate-agents

feat: custom Baileys WhatsApp microservice + chat UI fixes
  Makefile
  docker-compose.yml
  src/jarvis/channels/whatsapp/adapter.py
  src/jarvis/channels/whatsapp/baileys/Dockerfile
  src/jarvis/channels/whatsapp/baileys/package-lock.json
  src/jarvis/channels/whatsapp/baileys/package.json
  src/jarvis/channels/whatsapp/baileys/server.js
  src/jarvis/channels/whatsapp/baileys_client.py
  src/jarvis/main.py
  src/jarvis/routes/api/channels.py
  start-dev.sh
  web/src/pages/chat/index.tsx
Due: mypy

feat: add WhatsApp typing indicator for Jarvis
  src/jarvis/channels/whatsapp/adapter.py
  src/jarvis/channels/whatsapp/baileys/server.js
  src/jarvis/channels/whatsapp/baileys_client.py
  src/jarvis/channels/whatsapp/router.py
  src/jarvis/tasks/channel.py
Due: mypy

feat: enable voice message transcription via faster-whisper
  src/jarvis/channels/whatsapp/baileys/server.js
  src/jarvis/channels/whatsapp/baileys_client.py
  src/jarvis/channels/whatsapp/router.py
Due: mypy

fix: resolve Gemini Thinking_config API error and main agent governance
  src/jarvis/providers/_gemini_common.py
Due: mypy

fix(main-agent): permanently expand allowed_paths for the main agent
  .jarvis/repo_index.json
  .jarvis/repo_index.sha256
  agents/main/heartbeat.md
  agents/main/identity.md
Due: validate-agents

more updates
  jarvis.db
Due: none

tons of updates
  .jarvis/repo_index.json
  .jarvis/repo_index.sha256
  agents/main/heartbeat.md
  app.db-wal
  docker-compose.yml
  docs/PLAN.md
  docs/api-reference.md
  docs/architecture.md
  docs/change-safety.md
  docs/channels/whatsapp-ui.md
  docs/channels/whatsapp.md
  src/jarvis/channels/whatsapp/adapter.py
  src/jarvis/channels/whatsapp/baileys/server.js
  src/jarvis/channels/whatsapp/baileys_client.py
  src/jarvis/channels/whatsapp/router.py
  src/jarvis/db/queries.py
  src/jarvis/main.py
  src/jarvis/routes/api/channels.py
  tests/integration/test_admin_api.py
  tests/integration/test_whatsapp_webhook.py
  tests/unit/test_db_queries.py
  tests/unit/test_whatsapp_adapter_type_filter.py
  web/src/api/endpoints.ts
  web/src/pages/admin/channels/index.tsx
Due: mypy, validate-agents

more updates
  .env.example
  .jarvis/repo_index.json
  .jarvis/repo_index.sha256
  agents/main/heartbeat.md
  agents/main/soul.md
  app.db-wal
  deploy/systemd/jarvis-scheduler.service
  deploy/systemd/jarvis-worker.service
  docs/PLAN.md
  docs/architecture.md
  docs/change-safety.md
  docs/configuration.md
  docs/runbook.md
  docs/testing.md
  jarvis.db
  src/jarvis/cli/main.py
  src/jarvis/config.py
  src/jarvis/db/migrations/060_agent_run_attempts.sql
  src/jarvis/memory/service.py
  src/jarvis/orchestrator/step.py
  src/jarvis/routes/api/auth.py
  src/jarvis/runtime/__init__.py
  src/jarvis/tasks/__init__.py
  src/jarvis/tasks/agent.py
  src/jarvis/tasks/agent_attempts.py
  src/jarvis/tasks/agent_recovery.py
  src/jarvis/tasks/runner.py
  tests/unit/test_agent_recovery.py
  tests/unit/test_orchestrator_step.py
Due: mypy, validate-agents

tons of updates
  .jarvis/repo_index.json
  .jarvis/repo_index.sha256
  agents/main/heartbeat.md
  app.db-wal
  docs/PLAN.md
  docs/api-usage-guide.md
  docs/architecture.md
  docs/change-safety.md
  docs/runbook.md
  docs/web-admin-guide.md
  src/jarvis/channels/whatsapp/router.py
  src/jarvis/db/migrations/063_channel_typing_state.sql
  src/jarvis/db/queries.py
  src/jarvis/main.py
  src/jarvis/routes/api/__init__.py
  src/jarvis/routes/api/repo.py
  src/jarvis/routes/health.py
  src/jarvis/tasks/agent.py
  src/jarvis/tasks/channel.py
  src/jarvis/tasks/system.py
  tests/integration/test_repo_api.py
  tests/unit/test_repo_routes.py
  web/src/api/endpoints.ts
  web/src/components/layout/Shell.tsx
  web/src/components/ui/Badge.tsx
  web/src/components/ui/Button.tsx
  web/src/components/ui/Card.tsx
  web/src/pages/admin/bugs.tsx
  web/src/pages/admin/dashboard/index.tsx
  web/src/pages/admin/governance/index.tsx
  web/src/pages/admin/repo/index.tsx
  web/src/pages/admin/roadmap/index.tsx
  web/src/styles.css
  web/src/types/index.ts
Due: mypy, validate-agents

tons of updates
  .env.example
  .jarvis/repo_index.json
  .jarvis/repo_index.sha256
  agents/main/heartbeat.md
  docs/PLAN.md
  docs/api-reference.md
  docs/configuration.md
  src/jarvis/channels/whatsapp/router.py
  src/jarvis/config.py
  src/jarvis/db/queries.py
  src/jarvis/main.py
  src/jarvis/routes/health.py
  src/jarvis/tasks/__init__.py
  src/jarvis/tasks/agent.py
  src/jarvis/tasks/channel.py
  src/jarvis/tasks/system.py
  tests/unit/test_channel_tasks.py
  tests/unit/test_system_tasks.py
  web/src/App.tsx
Due: mypy, validate-agents

more updates
  .jarvis/repo_index.json
  .jarvis/repo_index.sha256
  agents/main/heartbeat.md
  docs/PLAN.md
  docs/channels/whatsapp-ui.md
  docs/channels/whatsapp.md
  src/jarvis/channels/whatsapp/baileys/server.js
  src/jarvis/routes/api/channels.py
  tests/integration/test_admin_api.py
  web/src/pages/admin/channels/index.tsx
  web/tests/adminChannelsContracts.test.mjs
Due: mypy, validate-agents

more updates
  .jarvis/repo_index.json
  .jarvis/repo_index.sha256
  AGENTS.md
  CLAUDE.md
  agents/main/heartbeat.md
  agents/main/identity.md
  docs/PLAN.md
  docs/api-usage-guide.md
  docs/architecture.md
  docs/change-safety.md
  src/jarvis/db/migrations/068_feature_request_idempotency_and_tool_permission.sql
  src/jarvis/db/queries.py
  src/jarvis/orchestrator/step.py
  src/jarvis/policy/engine.py
  src/jarvis/routes/api/bugs.py
  src/jarvis/tasks/agent.py
  tests/integration/test_feature_requests_api.py
  tests/unit/test_orchestrator_step.py
  tests/unit/test_skills_tools.py
Due: mypy, validate-agents

more updates
  .jarvis/repo_index.json
  .jarvis/repo_index.sha256
  app.db-wal
  docs/PLAN.md
  docs/api-usage-guide.md
  docs/web-admin-guide.md
  src/jarvis/db/queries.py
  src/jarvis/routes/api/bugs.py
  src/jarvis/services/feature_requests.py
  src/jarvis/tasks/__init__.py
  src/jarvis/tasks/feature_build.py
  tests/integration/test_feature_approval_api.py
  tests/unit/test_feature_approval.py
  tests/unit/test_feature_build_task.py
  web/src/api/endpoints.ts
  web/src/pages/admin/roadmap/index.tsx
  web/tests/adminRoadmapContracts.test.mjs
Due: mypy
