Repository jm24zm18/jarvis: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, validate-agents

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.12
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: uv run mypy src
        language: system
        types: [python]
        pass_filenames: false

      - id: validate-agents
        name: validate-agents
        entry: uv run python scripts/validate_agents.py
        language: system
        files: ^agents/
        pass_filenames: false

more updates
  .env.example
  .jarvis/repo_index.json
  .jarvis/repo_index.sha256
  agents/main/heartbeat.md
  app.db-wal
  docs/PLAN.md
  docs/configuration.md
  docs/runbook.md
  docs/web-admin-guide.md
  src/jarvis/config.py
  src/jarvis/db/migrations/069_feature_build_retry_metadata.sql
  src/jarvis/db/queries.py
  src/jarvis/orchestrator/step.py
  src/jarvis/services/feature_requests.py
  src/jarvis/tasks/__init__.py
  src/jarvis/tasks/agent.py
  src/jarvis/tasks/feature_build.py
  src/jarvis/tools/environmental_awareness.py
  tests/unit/test_agent_recovery.py
  tests/unit/test_feature_approval.py
  tests/unit/test_feature_build_task.py
  tests/unit/test_orchestrator_step.py
  web/src/types/index.ts
Due: mypy, validate-agents

more updates
  .env.example
  agents/feature_builder/heartbeat.md
  agents/feature_builder/identity.md
  agents/feature_builder/soul.md
  docs/PLAN.md
  docs/api-reference.md
  docs/architecture.md
  docs/configuration.md
  docs/ralph/history.md
  docs/ralph/progress.json
  docs/runbook.md
  src/jarvis/cli/env_groups.py
  src/jarvis/cli/main.py
  src/jarvis/cli/ralph.py
  src/jarvis/config.py
  src/jarvis/db/migrations/070_human_escalations.sql
  src/jarvis/db/migrations/071_request_human_escalation_tool_permission.sql
  src/jarvis/db/queries.py
  src/jarvis/orchestrator/step.py
  src/jarvis/policy/engine.py
  src/jarvis/selfupdate/pipeline.py
  src/jarvis/selfupdate/ralph_plan.py
  src/jarvis/tasks/__init__.py
  src/jarvis/tasks/agent.py
  src/jarvis/tasks/feature_build.py
  src/jarvis/tasks/human_escalation.py
  src/jarvis/tasks/ralph.py
  tests/unit/test_agent_recovery.py
  tests/unit/test_human_escalation_tasks.py
  tests/unit/test_orchestrator_incomplete_response.py
  tests/unit/test_ralph_plan.py
  tests/unit/test_tool_runtime_governance.py
Due: mypy, validate-agents

more updates
  .env.example
  .gitignore
  .jarvis/repo_index.json
  .jarvis/repo_index.sha256
  agents/main/heartbeat.md
  docs/PLAN.md
  docs/architecture.md
  docs/change-safety.md
  docs/configuration.md
  docs/testing.md
  src/jarvis/cli/env_groups.py
  src/jarvis/config.py
  src/jarvis/db/migrations/072_feature_build_run_diagnostics.sql
  src/jarvis/db/queries.py
  src/jarvis/memory/service.py
  src/jarvis/orchestrator/step.py
  src/jarvis/tasks/agent.py
  src/jarvis/tasks/feature_build.py
  src/jarvis/tasks/memory.py
  src/jarvis/telemetry/__init__.py
  tests/unit/test_agent_recovery.py
  tests/unit/test_memory_service.py
  tests/unit/test_memory_tasks.py
  tests/unit/test_orchestrator_step.py
Due: mypy, validate-agents

Add memory reflection migration and test
  src/jarvis/db/migrations/075_memory_reflection_watermarks.sql
  tests/unit/test_memory_reflection.py
Due: mypy

more updates
  .jarvis/repo_index.json
  .jarvis/repo_index.sha256
  agents/feature_builder/soul.md
  agents/main/heartbeat.md
  src/jarvis/config.py
  src/jarvis/db/migrations/076_feature_build_capsule.sql
  src/jarvis/tasks/agent.py
  src/jarvis/tasks/feature_build.py
  tests/unit/test_feature_build_capsule.py
  tests/unit/test_feature_build_task.py
Due: mypy, validate-agents

more updates
  .env.example
  .jarvis/repo_index.json
  .jarvis/repo_index.sha256
  agents/feature_builder/soul.md
  agents/main/heartbeat.md
  docs/PLAN.md
  docs/api-reference.md
  docs/architecture.md
  docs/configuration.md
  src/jarvis/config.py
  src/jarvis/db/migrations/077_rlm_and_parent.sql
  src/jarvis/db/queries.py
  src/jarvis/main.py
  src/jarvis/memory/service.py
  src/jarvis/rlm/__init__.py
  src/jarvis/rlm/config.py
  src/jarvis/rlm/decomposer.py
  src/jarvis/rlm/service.py
  src/jarvis/routes/api/bugs.py
  src/jarvis/services/feature_requests.py
  src/jarvis/tasks/feature_build.py
  src/jarvis/tools/environmental_awareness.py
  tests/integration/test_whatsapp_webhook.py
  tests/unit/test_agent_recovery.py
  tests/unit/test_feature_build_rlm_routing.py
  tests/unit/test_feature_split.py
  tests/unit/test_memory_reflection.py
  tests/unit/test_ralph_plan.py
  tests/unit/test_rlm_decomposer.py
  tests/unit/test_rlm_service.py
Due: mypy, validate-agents

more updates
  .jarvis/repo_index.json
  .jarvis/repo_index.sha256
  agents/main/heartbeat.md
  docs/PLAN.md
  docs/api-reference.md
  docs/channels/whatsapp-ui.md
  docs/channels/whatsapp.md
  docs/local-development.md
  src/jarvis/channels/whatsapp/baileys/server.js
  src/jarvis/channels/whatsapp/baileys_client.py
  src/jarvis/routes/api/channels.py
  start-dev.sh
  tests/integration/test_admin_api.py
  tests/unit/test_orchestrator_step_import.py
  web/src/api/endpoints.ts
  web/src/components/ui/markdownParser.js
  web/src/pages/admin/channels/index.tsx
  web/src/styles.css
  web/tests/adminChannelsContracts.test.mjs
  web/tests/markdownLiteRender.test.mjs
  web/tests/markdownParser.test.mjs
Due: mypy, validate-agents

more updates
  .env.example
  .jarvis/repo_index.json
  .jarvis/repo_index.sha256
  agents/feature_builder/heartbeat.md
  agents/main/heartbeat.md
  app.db-wal
  docs/PLAN.md
  docs/api-usage-guide.md
  docs/architecture.md
  docs/change-safety.md
  docs/configuration.md
  docs/feature-lifecycle.md
  src/jarvis/config.py
  src/jarvis/db/migrations/080_feature_build_run_routing_mode.sql
  src/jarvis/db/queries.py
  src/jarvis/rlm/fallback_splitter.py
  src/jarvis/services/feature_requests.py
  src/jarvis/tasks/agent.py
  src/jarvis/tasks/feature_build.py
  tests/unit/test_agent_recovery.py
  tests/unit/test_feature_build_rlm_routing.py
  tests/unit/test_feature_build_task.py
Due: mypy, validate-agents

more updates
  .env.example
  .jarvis/repo_index.json
  .jarvis/repo_index.sha256
  README.md
  agents/main/heartbeat.md
  docs/PLAN.md
  docs/architecture.md
  docs/change-safety.md
  docs/codebase-tour.md
  docs/configuration.md
  docs/getting-started.md
  docs/local-development.md
  docs/runbook.md
  docs/testing.md
  scripts/dev_preflight_ports.py
  src/jarvis/commands/service.py
  src/jarvis/config.py
  src/jarvis/db/migrations/082_extraction_status.sql
  src/jarvis/db/migrations/083_user_profiles.sql
  src/jarvis/db/migrations/084_knowledge_graph.sql
  src/jarvis/db/migrations/085_user_reflection_watermarks.sql
  src/jarvis/memory/interfaces.py
  src/jarvis/memory/knowledge_graph.py
  src/jarvis/memory/service.py
  src/jarvis/memory/state_extractor.py
  src/jarvis/memory/state_store.py
  src/jarvis/orchestrator/context_builder.py
  src/jarvis/orchestrator/prompt_builder.py
  src/jarvis/orchestrator/step.py
  src/jarvis/routes/api/system.py
  src/jarvis/tasks/memory.py
  start-dev.sh
  tests/unit/test_agent_recovery.py
  tests/unit/test_knowledge_graph.py
  tests/unit/test_memory_tasks.py
  tests/unit/test_state_extractor.py
Due: mypy, validate-agents

more updates
  .env.example
  .jarvis/repo_index.json
  .jarvis/repo_index.sha256
  agents/main/heartbeat.md
  docs/PLAN.md
  docs/architecture.md
  docs/change-safety.md
  docs/configuration.md
  docs/testing.md
  src/jarvis/config.py
  src/jarvis/db/migrations/086_task_lesson_extraction_type.sql
  src/jarvis/memory/knowledge_graph.py
  src/jarvis/orchestrator/step.py
  src/jarvis/tasks/__init__.py
  src/jarvis/tasks/memory.py
  tests/unit/test_knowledge_graph.py
  tests/unit/test_orchestrator_step.py
  tests/unit/test_task_knowledge_extraction.py
Due: mypy, validate-agents

more updates
  .jarvis/repo_index.json
  .jarvis/repo_index.sha256
  agents/main/heartbeat.md
  agents/main/identity.md
  docs/PLAN.md
  docs/architecture.md
  docs/change-safety.md
  docs/runbook.md
  docs/testing.md
  skills/session-management.md
  skills/skill-orchestration.md
  skills/web-research.md
  src/jarvis/agents/seed.py
  src/jarvis/memory/service.py
  src/jarvis/orchestrator/context_builder.py
  src/jarvis/orchestrator/prompt_builder.py
  src/jarvis/orchestrator/step.py
  src/jarvis/tasks/agent.py
  tests/unit/test_memory_service.py
  tests/unit/test_orchestrator_step.py
Due: mypy, validate-agents

more updates
  .jarvis/repo_index.json
  .jarvis/repo_index.sha256
  agents/feature_builder/heartbeat.md
  agents/main/heartbeat.md
  docs/PLAN.md
  docs/api-reference.md
  docs/api-usage-guide.md
  docs/runbook.md
  docs/web-admin-guide.md
  src/jarvis/routes/api/bugs.py
  src/jarvis/services/feature_requests.py
  src/jarvis/tasks/feature_build.py
  tests/integration/test_feature_approval_api.py
  tests/unit/test_feature_build_task.py
  web/src/pages/admin/roadmap/index.tsx
  web/src/types/index.ts
  web/tests/adminRoadmapContracts.test.mjs
Due: mypy, validate-agents

Add /system/health endpoint for DevSwarm validation
  src/jarvis/routes/api/system.py
Due: mypy

DevSwarm validation: verify pipeline spins up and runs simple task
  .jarvis/repo_index.json
  .jarvis/repo_index.sha256
  agents/main/heartbeat.md
Due: validate-agents
